.containerObraBase{
    background-color: #00002D;
    width: 100%;
    height: 100vh;
}
.parte_cima{
    display: flex;
}
.img_desc_obra{
    position: relative;
    left: 10%;
    top: 56px;
    label{
        font-size: 50px;
        color: white;
    }
    img{
        padding-top: 5%;
        width: 450px;
        height: 600px;
    }
}
.sinopse_genero{
    font-size: 35px;
    color: white;
    position: relative;
    height: fit-content;
    top: 335px;
    left: 15%;
}
.caixaSinopse{
    background-color: #0F0F4E;
    color: white;
    font-size: 15px;
}
.txtSinopse{
    position: relative;
    bottom: 20px;
}
.inserirGeneros{
    font-size: 15px;
    position: relative;
    left: 50%;
    bottom: 10px;
}
.txtGeneros{
    font-size: 15px;
    position: relative;
    left: 50%;
    bottom: 10px;
}
.parteMeio{
    padding-top: 5%;
}
.areaAutor{
    border: 2px red solid;
    color: white;
    width: 50%;
    height: 150px;
    position: relative;
    left: 10%;
}