.container_7_11{
    border: 1px black solid;
    border-radius: 10px;
    width: fit-content;
    position: relative;
    left: 38.5%;
    padding: 20px;
    margin-top: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}