html{
    height: 100%;
}
body{
    margin: 0;
    height: 100%;
}
.div_site{
    height: 100%;
    background-color: #4A80D4;
}
.imagen_fundo{
    height: 101%;
    position: relative;
    bottom: 8%;
    img{
        width: 100%;
        height: 101vh;
    }
    z-index: 10;
}
.navBarPagina{
    border-bottom: 1px black solid;
    position: relative;
    top: 10px;

    display: flex;
    justify-content: space-around;

    z-index: 12;
    button{
        border: 1px black solid;
        background-color: #003049;
        border-radius: 15px;
        position: relative;
        top: 15px;
        height: 35px;
        width: 150px;
        text-align: center;
        color: white;
        font: bold;
        font-size: 20px;
        
    }
    img{
        width: 90px;
        height: 80px;
    }
}
.texto_donation{
    position: relative;
    width: fit-content;
    left: 60%;
    bottom: 80%;
    z-index: 14;
    label{
        font-size: 70px;
        font: bold;
    }
    p{
        font-size: 40px;
        font: bold;
    }
}

.botoes{
    position:relative;
    bottom: 75%;
    left: 59%;
    display: flex;
    justify-content: space-around;
    height: 30px;
    width: 350px;
    z-index: 14;
    
}
.botao_cadastro{
    border: 3px #EE4F7A solid;
    border-radius: 20px;
    background-color: white;
    width: 150px;
    height: 40px;
    font-size: 20px;
}
.botao_cadastro:hover{
    background-color: #EE4F7A;
    color: white;
}
.botao_download{
    border: 3px #EE4F7A solid;
    border-radius: 20px;
    background-color: #EE4F7A;
    width: 150px;
    height: 40px;
    color: white;
    font-size: 20px;
}
.botao_download:hover{
    border-color: white;
    background-color: white;
    color: black;
}

*{margin: 0; padding: 0;}