.container_historico_de_leitura{
    background-color:white ;
    margin-top: 10px;
    margin-left: 17px;
    width: 47%;
    height: 40vh;
    border-radius: 10px;
}
.histObras{
    border: 2px red solid;
    width: fit-content;
    position: relative;
    left: 30px;
    list-style-type: none;
}