.containerCarousel{
    border: 2px #0C0C3E solid;
    border-radius: 10px;
    width: 90%;
    height: 450px;
    background-color: #0C0C3E;
    position: relative;
    left: 5%;
    z-index: 0;
    --swiper-pagination-bullet-inactive-color: #FFF;
    label{
        position: relative;
        left: 50px;
        color: white;
        font-size: 25px;
    }
}
.imgs{
    border: 2px red solid;
    border-radius: 5px;
    width: 250px;
    height: 350px;
    position: relative;
    left: 45px;
}

.swiper-button-next{
    --swiper-theme-color: #FFF;
}
.swiper-button-prev{
    --swiper-theme-color: #FFF;
}
.modalPostagem{
    background-color: #212277;
    width: 50%;
    height: 80%;
    position: relative;
    left: 25%;
    top: 10%;
    button{
        border: none;
        width: 50px;
        height: 50px;
        background-color: #0E1065;
        box-shadow: none;
    }
}

.inputsUm{
    position: relative;
    left: 10%;
    top: 50px;
    width: 40%;
    display: flexbox;
    justify-content: space-around;
    /* border: 2px green solid; */
    label{
        color: white;
        font-size: 22px;
    }
    input{
        width: 300px;
        height: 20px;
    }
}
.caixaSinopse{
    /* border: 2px blue solid; */
    width: 50%;
    position: relative;
    left: 50%;
    bottom: 500px;
    color: white;
    button{
        border-radius: 5px;
        position: relative;
        left: 13%;
        width: 300px;
        height: 30px;
        color: white;
        font-size: 25px;
    }
    label{
        font-size: 22px;
    }
}